#home div {
  background-color: red;
  height: 100px;
  width: 200px;
}

#quiz-board div {
  background-color: green;
  height: 100px;
  width: 200px;
}

#results div {
  background-color: blue;
  height: 100px;
  width: 200px;
}

.hidden {
  display: none;
}
