@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sedgwick+Ave&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Sedgwick Ave", cursive;
  color: #e1b13c;
  display: flex;
  flex-direction: column;
  background-color: #141414d3;
  min-height: 100vh;
  letter-spacing: 2px;
}

/* header */
.nav-logo {
  width: 110px;
  height: 90px;
}

/*modal*/
.modal-header, .modal-footer {
  background-color: #141414d3;
}

.modal-btn{
  padding: 10px 20px 10px 20px;
  letter-spacing: 1px;
  border: 2px solid black;
}

#close-btn {
  color: black;
  width: 30%;
}

/* main */
.hidden {
  display: none;
} 

.main-btn{
  letter-spacing: 1px;
}

#rules-btn {
  margin-top: 10px;
}

.btn {
  background-color: #e1b13c;
}

.box-container {
  min-height: 700px;
  max-width: 900px;
}

.main-section, .modal-body {
  border: 2px solid #e1b13c;
  background-color: #000000;
  min-height: 100px;
}

#uname-section{
  padding: 20px 60px 20px 60px;
}

#score{
  padding: 15px 15px 15px 15px;
}

/* questions board */ 
button.choices{
  border: solid 1px #141414d3;
  border-radius: 10px;
  background-color: #e1b13c;
  width: 100%;
}

.answer {
  color: #000;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 1rem 0rem;

}

button.wrong {
  background-color: red;
}

button.correct {
  background-color: green;
}

#quiz-board {
  padding: 20px;
  /* margin-bottom: 6rem; */
}


/* footer */
#unique-footer .nav-link:hover {
  font-weight: bold;
  text-transform: uppercase;
  color: #e1b13c;
}

.footer-text{
  padding-left: 0.2rem;
}
